/* style */

#container {
	width: 1101px;
	height: 480px;
}
.panel {
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.inner {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 0px;
}