#qzad{
	min-width:720px;
	max-width:1100px;
	height:480px;
	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url(http://ads.qz.com/sponsors/boodles/13-11-15/desktop/img/water.jpg) 0 0 no-repeat;
}
a{
	display:block;
	text-decoration:none;
}
img{
	display:block;
	width:100%;
}
#tcontainer, #bcontainer {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1100px;
	min-width: 700px;
	height: 480px;
	overflow: hidden;
}
#tcontainer {
	z-index: 2;
}
#bcontainer {
	z-index: 1;
	opacity:0;
	height: 100%;
	width: 100%;
	background: url('http://ads.qz.com/sponsors/boodles/13-11-15/desktop/img/imgB.png') 0 0 no-repeat;
	&.fadeIn{
	-webkit-transition: opacity 2s ease;
	   -moz-transition: opacity 2s ease;
		-ms-transition: opacity 2s ease;
		 -o-transition: opacity 2s ease;
			transition: opacity 2s ease;
		opacity: 1;
	}
	@media all and (max-width: 952px) and (min-width: 926px) {
	  background: url('http://ads.qz.com/sponsors/boodles/13-11-15/desktop/img/imgB.png') -75px 0 no-repeat;
	}
	@media all and (max-width: 925px) {
	  background: url('http://ads.qz.com/sponsors/boodles/13-11-15/desktop/img/imgB.png') -78px 0 no-repeat;
	}
	@media all and (max-width: 923px) and (min-width: 721px) {
	   background: url('http://ads.qz.com/sponsors/boodles/13-11-15/desktop/img/imgB.png') -69px 0 no-repeat;
	}
	@media all and (max-width: 720px) {
	   background: url('http://ads.qz.com/sponsors/boodles/13-11-15/desktop/img/imgB.png') -308px 0 no-repeat;
	}
}
.tpanel, .bpanel {
	height: 100%;
	float: left;
	position: relative;
}
.top {
	z-index: 11;
}
.bottom {
	z-index: 1;
}
.top, .bottom {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.move {
	-webkit-transition: all 4s ease-in;
	-moz-transition: all 4s ease-in;
	-ms-transition: all 4s ease-in;
	-o-transition: all 4s ease-in;
	transition: all 4s ease-in;
}
.moveIn {
	opacity:1;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.fade {
	-webkit-transition: opacity .5s ease 0s;
	   -moz-transition: opacity .5s ease;
		-ms-transition: opacity .5s ease;
		 -o-transition: opacity .5s ease;
			transition: opacity .5s ease;
	opacity: 0;
}
.fadeIn {
	-webkit-transition: opacity 2s ease;
	   -moz-transition: opacity 2s ease;
		-ms-transition: opacity 2s ease;
		 -o-transition: opacity 2s ease;
			transition: opacity 2s ease;
	opacity: 1;
}
.cta{
	display:none;
	z-index:12;
	margin-top: 10px;
	
	.shop-collection{
		display: block;
		height: 30px;
		width: 200px;
		margin: 0 auto;
		padding: 10px 30px;

		img{
			width: 100%;
		}
	}
}
.copy{
	width: 21%;
	min-width: 212px;
	max-width: 240px;
	margin: 20px auto;
}
.bg-container{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
#logo{
	position: absolute;
	top:213px;
	left: 55.1818181818%;
	width: 30.7272727273%;
	max-width: 338px;
	min-width: 294px;
	z-index:11;
}
.cta2{
	position: absolute;
	bottom: 26px;
	right: 3.63636363636%;
	width: 11.3636363636%;
	min-width: 125px;
	z-index:12;
}