#qzad { min-width: 720px; max-width: 1100px; height: 480px; position: relative; top: 0; bottom: 0; left: 0; right: 0; background: url(../img/water.jpg) 0 0 no-repeat; }

a { display: block; text-decoration: none; }

img { display: block; width: 100%; }

#tcontainer, #bcontainer { position: absolute; top: 0; width: 100%; max-width: 1100px; min-width: 700px; height: 480px; visibility: hidden; overflow: hidden; }

#tcontainer { z-index: 2; }

#bcontainer { z-index: 1; }

.bpanel { opacity: 0; }

.tpanel, .bpanel { height: 100%; float: left; position: relative; }

.bpanel { opacity: 0; }

.top { z-index: 11; }

.bottom { z-index: 1; }

.top, .bottom { position: absolute; width: 100%; height: 100%; background-repeat: no-repeat; }

.move { -webkit-transition: all 4s ease-in; -moz-transition: all 4s ease-in; -ms-transition: all 4s ease-in; -o-transition: all 4s ease-in; transition: all 4s ease-in; }

.moveIn { opacity: 1; -webkit-transition: all 1s ease-in; -moz-transition: all 1s ease-in; -ms-transition: all 1s ease-in; -o-transition: all 1s ease-in; transition: all 1s ease-in; }

.fade { -webkit-transition: opacity .5s ease; -moz-transition: opacity .5s ease; -ms-transition: opacity .5s ease; -o-transition: opacity .5s ease; transition: opacity .5s ease; opacity: 0; }

.fadeIn { -webkit-transition: opacity .5s ease; -moz-transition: opacity .5s ease; -ms-transition: opacity .5s ease; -o-transition: opacity .5s ease; transition: opacity .5s ease; opacity: 1; }

.cta { width: 19.4545454545%; max-width: 214px; min-width: 212px; position: absolute; top: 268px; left: 60.8181818182%; display: none; z-index: 12; }
.cta .shop-collection { display: block; width: 100%; height: 30px; }

.copy { position: absolute; top: 268px; left: 60.8181818182%; width: 21.8181818182%; min-width: 212px; max-width: 240px; }

.bg-container { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

#logo { position: absolute; top: 213px; left: 55.1818181818%; width: 30.7272727273%; max-width: 338px; min-width: 294px; z-index: 11; }

.cta2 { position: absolute; bottom: 26px; right: 3.63636363636%; width: 11.3636363636%; min-width: 125px; z-index: 12; }
